
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image0{
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-image: url("../img/portofino.jpg");
    overflow: hidden;
    background-attachment: fixed;
}

.image1{
    height: 50vh;
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    border: 2px solid #000;
    background-size: cover;
    background-image: url("../img/restaurant.jpg");
    overflow: hidden;
    background-attachment: fixed;
}


.image2{
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-image: url("../img/portofino.jpg");
    overflow: hidden;
    background-attachment: fixed;
}

.image3{
    height: 30vh;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12%;
    margin-right: 12%;
    border: 2px solid #000;
    background-size: cover;
    background-image: url("../img/itaFood.jpg");
    overflow: hidden;
    background-attachment: fixed;
}

.imgHeadText {
    font-size: 40px;
    text-align: center;
    margin-top: 17.5%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
}

.imgHeadText1 {
    font-size: 40px;
    text-align: center;
    margin-top: 11%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.headerHr {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: center
}

footer {
    width: 100%;
    height: 7.5vh;
    text-align: center;
    background: black;
    color: white;
}

.headerText {
    margin-left: 15%;
    margin-right: 15%;
}

.containerHome {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 30px 0;
}

.featurewrap {
    border: 1px solid black;
    margin: -1px;
    display:grid;
    padding: 40px;
    float: left;
    width: 33.33333%;
    transition: all .5s ease;
}

.featurewrap1 {
    border: 1px solid black;
    margin: -1px;
    display:grid;
    padding: 5px;
    margin-left: 0.22%;
    float: left;
    width: 19%;
    transition: all .5s ease;
}

.kopje {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color:#121217;
}

.feature {
    text-align: center;
}

.feature1 {
    text-align: center;
    margin-bottom: 6.2%;
}

.feature2 {
    text-align: center;
    margin-bottom: 12.6%;
}

.feature3 {
    text-align: center;
    margin-bottom: 19.2%;
}

.feature4 {
    text-align: center;
    margin-bottom: 31.9%;
}

.featurename {
    font-family: "Rockwell Nova";
}

.featuredisc {
    color: #51585f;
    text-align: center;
}

.section {
    margin: 0 auto;
    width: 1200px;
}

.menuHeadText {
    margin-left: 15%;
    margin-right: 15%;
}

.menuFooterText {
    font-size: 15px;
    text-align: center;
}

/* - */

#Home {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Home h1 {
    color: #fff;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 48px;
    text-align: center;
}

.tagline {
      color: #fff;
      text-shadow: 2px 2px #000;
      text-align: center;
      font-size: 30px;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: black;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

li {
    text-align: left;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}    

/*EINDE NAVIGATION BAR*/

#box1{
    height: 75vh;
    width: 100%;
    background-image: url("../images/Asiadam.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box2 {
    height: 75vh;
    width: 100%;
    background-image: url("../images/FriedRice.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box2 h1 {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 48px;
    text-align: center;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

h3 {
    @include clearfix;
    position: relative;
    font-weight: 700;
    margin: .7em 0 1em 0;
    span {
      float: left;
      width: 10%;
      text-align: center;
      display: block;
      &:first-child {
        width: 40%;
        text-align: left;
      }
    }
    .dots {
      width: 40%;
      border-bottom: 2px dotted #ccc;
      margin-top: .8em;
    }
  }
  
  h2 {
      text-align: center;
  }
  
  label {
      color: black;
  }
  
  .error-message {
      text-align: center;
      color: black;
      text-shadow: 1px 1px #000;
  }
  
  .errors {
      text-align: center;
      color: red;
      text-shadow: 1px 1px #000;
      list-style: none;
  }
  
  input[type=text] {
      width: 200px;
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }
  

  input[type=date] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  .form-group {
      text-align: center;
      color: white;
  }
  
  button {
      text-align: center;
  }
  
  footer {
      width: 100%;
      height: 7.5vh;
      text-align: center;
      background: black;
      color: white;
  }
  